<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 결과</title>
</head>
<body>
<h3>회원 가입 결과</h3>
<div>
    <p>아이디: <span th:text="${member.id}"></span></p>
    <p>비밀번호: <span th:text="${member.passwd}"></span></p>
    <p>거주지: <span th:text="${member.city}"></span></p>
    <p>성별: <span th:text="${member.sex}"></span></p>

    <p>취미:
        <span th:each="h : ${member.hobby}" th:text="${h} + ' '"></span>
        <span th:if="${member.hobby == null}">없음</span>
    </p>

    <p>인사말: <span th:text="${member.greetings}"></span></p>
</div>
<hr>
<a th:href="@{/sign.html}">다시 가입하기</a>
</body>
</html>